<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galleriafrique">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application
        android:allowBackup="true"
        android:name=".GalleriaApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider
            android:name=".provider.DataProvider"
            android:authorities="com.galleriafrique.provider"
            android:exported="false"
            android:label="DataProvider"
            android:readPermission="com.galleriafrique.provider.READ"
            android:syncable="true"
            android:writePermission="com.galleriafrique.provider.WRITE" />

        <activity
            android:name=".provider.AndroidDatabaseManager"
            android:label="Database Manager"></activity>
        <activity
            android:name=".controller.activity.base.HomeActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".controller.activity.base.BaseActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".controller.activity.base.UserProfileActivity"
            android:label="@string/title_activity_profile" />

        <activity
            android:name=".controller.activity.account.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"/>

        <provider android:authorities="com.facebook.app.FacebookContentProvider658902937492002"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="215be3b4ec7e231905a0ed47b981ae049f5a9975" />
    </application>
</manifest>
